@page

@using DagensMonnerWithEntityFramework.Shared
@model DagensMonnerWithEntityFramework.Pages.notFoundModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link href= "/stylesheet.css" rel="stylesheet" />

<h1>Jeg ved ikke lige hvad du leder efter, men her er dagens monner</h1>

<component type="typeof(MonnerView)" render-mode="ServerPrerendered" />